/** generic **/
$font-family-serif      : serif;
$font-family-sans-serif : sans-serif;
$font-family-monospace  : monospace;

/** web safe **/
$font-family-georgia : Georgia, Times, 'Times New Roman', serif;

/** wordpress **/
$font-family-dashicons : 'dashicons', monospace;
